.resume {
  padding-top: 120px;

  &__wrapper {
    display: grid;
    padding: 60px 89px 0 65px;
    column-gap: 135px;
    grid-template-columns: repeat(2, 425px);
  }
  &__column-title {
    position: relative;
    padding-left: 35px;
    &:before {
      content: "";
      position: absolute;
      width: 15px;
      height: 15px;
      background: $main-color;
      border-radius: 100%;
      left: -7px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &_column {
    ul {
      list-style-type: none;
      li {
        position: relative;
        &:after {
          content: "";
          position: absolute;
          width: 1px;
          height: calc(100% + 16px);
          background: #000;
          left: 0;
          top: -16px;
        }
      }
    }
  }
  &__item {
    position: relative;
    &:before {
      content: "";
      position: absolute;
      height: 1px;
      width: 43px;
      background: #000;
      top: 68px;
    }
    &-head {
      position: relative;
      padding: 45px 0 0 100px;
      h4 {
        margin-bottom: 0;
      }
    }
    &-body {
      padding-left: 43px;
      margin-top: 12px;
    }
    &-icon {
      position: absolute;
      top: 50px;
      left: 43px;
      @include before_circle;
      img {
        position: absolute;
        top: 14px;
        left: 18px;
      }
    }
    &-location {
      font-size: 12px;
      line-height: 18px;
      margin-top: 3px;
    }
    &-body {
      font-size: 12px;
      line-height: 18px;
    }
  }
}
