.sidepanel {
  height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  z-index: 5;
  top: 230px;
  left: 50px;
  align-items: center;
  svg {
    &:hover {
      transform: scale(1.1);
      transition: all 0.6s;
    }
  }
  &__divider {
    height: 70px;
    width: 2px;
    background: #000;
  }
  &__text {
    height: 150px;
    width: 25px;
    span {
      display: block;
      width: 150px;
      transform: rotate(-90deg) translate(-30%, -255%);
    }
  }
}
